.form__wrap {
    position: relative;
    width:100%;
    height:100vh;
}

.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 10px;
    font-weight: bold;
}

.form__input {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    padding: 15px 10px;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    transition: 0.2s ease all;
}

.form__button {
    padding: 15px 50px;
    width: auto;
    background: #1abc9c;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    float: right;
    clear: right;
    transition: 0.2s ease all;
}

.form__button:hover {
    background: #3fa28e;
    color: #000000;
}

@media (min-width: 768px) {
    .form {
        width: 400px;
    }
}
