.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0 50px;
    font-family: Arial;
}

.section__video {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vh;
    height: calc(50%-20px);
    margin-top: 20px;
}

.video__room {
    display: block;
    width: 100%;
    height: 10%;
    font-size: 20px;
    font-weight: bold;;
    text-align: center;
}

.video__holder {
    display: flex;
    justify-content: space-around;
    height:90%;
}

.video {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.video__button {
    margin-top: 20px;
    padding: 15px 50px;
    width: auto;
    background: #ef5f5f;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    float: right;
    clear: right;
    transition: 0.2s ease all;
}

.video__button:hover {
    color: #000000;
}

